@model SpaceSchedule.Models.LaunchDto
@{
    ViewBag.Title = "Details";
}

<h2>Details of Mission @Model.LaunchName</h2>
<p>Rocket Name : <a href="/Rockets/Details/@Model.RocketID">@Model.RocketName</a></p>
<p>Mission Info : @Model.LaunchInfo</p>
<p>Launch Date : @Model.LaunchDate.ToLongDateString()</p>
<p>Launch Time : @Model.LaunchDate.ToString("HH:mm")</p>

<a href="/Launches/EditPage/@Model.LaunchId">Edit Launch</a>
<a href="/Launches/DeletePage/@Model.LaunchId" style="all:unset; display:block; color:red; cursor:pointer;">Delete</a>